extends layout 

block content 
    h1= title

    form(method='POST' action='')
        div.form-group 
            label(for='title') Title: 
            input#title(type='text' placeholder='Title' name='title' required='true' value=(undefined===message ? '' : message.title))
        div.form-group 
            label(for='text') Message: 
            input(type="text", placeholder="Message..." name='text' required="true" value=(undefined===message ? '' : message.text))
        button(type="submit") Submit
    
    if errors 
        ul 
            for error in errors
                li!= error.msg