extends layout 

block content 
    h1 Sign Up

    form(action='' method='POST')
        div.form-group
            label(for='first_name') First Name: 
            input#first_name(type='text' placeholder='Jhon' name='first_name' required='true')
            label(for='family_name') Family Name: 
            input#family_name(type="text" placeholder='Wick' name='family_name' required='true')
        div.form-group
            label(for='username') Username:
            input#username(type='text' placeholder='username' name='username' required='true')
            label(for='password') Password: 
            input#password(type='password' palaceholder='password' name='password' required='true')
        button(type='submit') Submit
    
    if error
        p #{error}